body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 60px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mepic {
    border-radius: 100%;
}

/* Position the container in the bottom right corner of the website */
.statcounter-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* Style the image */
.statcounter-img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
}

/* Add a hover effect to the image */
.statcounter-img:hover {
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
}
