body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

hr {
    border-style: dotted none none;
    width: 8%;
    border-color: grey;
    border-width: 10px;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.intro-p {
    margin: auto 20%;
    color: #40514e;
}

.middle-container {
}

.bottom-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #11999e;
  color: white;
}

.pro {
  text-decoration: underline;
}

.mountain-img {
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mepic {
  border-radius: 100%;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.view-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.BUTTON_VVC {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 5px;
    line-height: 5px;
    color: #FFFFFF;
    font-family: Arial;
    width: 120px;
    font-size: 16px;
    font-weight: 200;
    padding: 20px;
    background-color: #66BFBF;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

/* Position the container in the bottom right corner of the website */
.statcounter-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* Style the image */
.statcounter-img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
}

/* Add a hover effect to the image */
.statcounter-img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
